

table th {
	border-top: none !important;
	border-bottom: 1px solid black !important; 
}

input {
	-webkit-appearance: none;
}

p {
	margin-bottom: 0 !important;
}

.btn-operator {
	margin-left: 2%;
}

.activo {
	cursor: pointer;
}

.activo:hover {
	background-color: black;
	color: white;
}

.relleno {
	padding: 1%;
}

.btn-warning {
	color: white !important;
}

.btn-warning:hover {
	color: white !important;
}

.form-control:disabled, .form-control[readonly] {
    background-color: #d9d9d9 !important;
	opacity: 1;
}
